pip~=20.2.3
pytz~=2020.1
Jinja2~=2.11.2
Werkzeug~=1.0.1
itsdangerous~=1.1.0
click~=7.1.2
numpy~=1.19.2
setuptools~=50.3.0
MarkupSafe~=1.1.1
pandas~=1.1.2
python-dateutil~=2.8.1
six~=1.15.0
openpyxl~=3.0.5
jdcal~=1.4.1
attrs~=20.2.0
jsonschema~=3.2.0
pyrsistent~=0.17.2
StyleFrame~=3.0.5
colour~=0.1.5
Flask~=1.1.2
gunicorn~=20.0.4
